<a href="https://colab.research.google.com/github/Andydar4/ExamenDTR/blob/master/ExamenDTR.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [24]:
import pandas as pd
from sklearn.tree import DecisionTreeRegressor
from sklearn.metrics import mean_absolute_error
from sklearn.model_selection import train_test_split

In [25]:
from google.colab import files
uploaded = files.upload()

Saving sample_submission_.csv to sample_submission_ (2).csv

In [26]:
archex = pd.read_csv('sample_submission_.csv')
archex.columns

Index(['LotArea', 'Price'], dtype='object')

In [27]:
archex = archex.dropna(axis=0)
y=archex.LotArea
archex_features = ['Price']
X = archex[archex_features]
X.describe()

               Price
count      50.000000
mean   171458.879550
std     16322.151092
min    145291.245000
25%    158007.653425
50%    172642.785850
75%    185650.132900
max    201740.620700

In [28]:
X.head()

         Price
0  169277.0525
1  187758.3940
2  183583.6836
3  179317.4775
4  150730.0800

In [29]:
archex_model = DecisionTreeRegressor(random_state=1)
archex_model.fit(X, y)
print("Haciendo las predicciones:")
print(X.head())
#print(X)
print("Las predicciones son")
print(archex_model.predict(X.head()))
#print(archex_model.predict(X))

Haciendo las predicciones:
         Price
0  169277.0525
1  187758.3940
2  183583.6836
3  179317.4775
4  150730.0800
Las predicciones son
[ 8450.  9600. 11250.  9550. 14260.]

In [30]:
predictedprices = archex_model.predict(X)
mean_absolute_error(y, predictedprices)

0.0

In [32]:
train_X, val_X, train_y, val_y = train_test_split(X, y, random_state = 0)
archex_model = DecisionTreeRegressor()
archex_model.fit(train_X, train_y)
val_predictions = archex_model.predict(val_X)
print(mean_absolute_error(val_y, val_predictions))

4464.615384615385